{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="post">
  <div class="content-inner comments-allowed">
    <div class="post-header">
      <h2 class="post-title">Error {{ page.header.http_response_code }}</h2>
    </div>
    <div class="post-content">
      {{ page.content }}
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
{% endblock %}
