{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="post">
    <div class="content-inner comments-allowed form-allowed">
      <div class="post-header">
        <h2 class="post-title">{{ page.header.title }}</h2>
      </div>
      <div class="post-content">
      {{ content }}
      </div>
      {% if config.plugins.form.enabled %}
      {% include "forms/form.html.twig" %}
      {% endif  %}
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
{% endblock %}
